html{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(26, 26, 26);
}

body{
  margin: 0;
  padding: 0;
}

h1{
    background-color: rgb(250, 123, 4);
    padding: 25px;
    width : 97.2%;
    border: outset 2px rgb(0, 0, 0);
  }

  h2{
    font-size: 30px;
    text-decoration: underline;
    color: rgb(110, 110, 110);
  }

  #retour{
    font-size: 15px;
    color: rgb(255, 153, 0);
  }
p{
  color: rgb(110,110,110);
  font-size: 25px;
}

  nav{
    width: 100%;
    background-color: rgb(231, 142, 24);
  }

nav > ul{
  margin: 0px;
  padding: 0px;
}

nav >ul::after{
  content: "";
  display: block;
  clear: both;
}


nav > ul > li{
  float: left;
  position: relative;
}

nav li{
  list-style-type: none;
}

nav>ul>li>a{
  padding: 20px 30px;
  color: rgb(255, 255, 255);
}

nav a{
  display: inline-block;
  text-decoration: none;
}

